* {
  font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
}

h1 {
    color: white;
    font-size: 90px;
    text-align: center;
    text-shadow: 10px 10px 10px black;
    background-image: url(../img/Affogato.JPG);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 80px 0 150px 0;
}

p {
    margin: 0;
}

ul{
    text-align: center;
    margin-top: 200px;
    padding: 100px 0 100px 0;
    margin: 0;
    border-top: 5px solid green;
}

li {
    padding: 100px;
    background-color: beige;
    display: inline-block;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    color: green;
    border: 5px solid green;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
}

h2{
    position: absolute;
    top: -70px;
    margin: 0;
    box-sizing: content-box;
}

.Der{
    border-radius: 20px 15px 15px 20px;
    background-image: url(../img/beer-mug-938758.png);
    background-size: 70%;
}

.Medio {
    border-radius: 15px;
    background-image: url(../img/a-bottle-of-wine-5038057.png);
    background-size: 90%;
}

.Izq{
    border-radius: 15px 20px 20px 15px;
    background-image: url(../img/cocktail-6673319.png);
    background-size: 80%;
}

.Descubre{
    text-align: center;
    padding: 20px 0px;
    background-color: beige;
    font-size: 30px;
    border-top: 5px solid green;
    color: green;
    font-weight: 700;
}

.Mas {
    background-image: url(../img/happy-holidays-2578446.jpg);
    background-size: 1521px;
}

.class1{
    background-image: url(../img/cognac.png)
}

.class2 {
    background-image: url(../img/gin.png);
}

.class3{
    background-image: url(../img/ginver.png);
    background-size: 21%;
}

.class4{
    background-image: url(../img/mezcal.png);
}

.class5{
    background-image: url(../img/rum.png);
}

.class6{
    background-image: url(../img/tequila.png);
}

.class7{
    background-image: url(../img/vodka.png);
}

.class8{
    background-image: url(../img/whiskey.png);
}