:root {
  --green:#5f7a67;
}

*{
  margin:0;
  font-family:Poppins, sans-serif;
}

.freesoul-header div a{
  color: black !important;
}

.dark-mode .freesoul-header div a{
  color: white !important;
}

.dark-mode .freesoul-header{
background-color: rgb(47.5, 61, 51.5)
}

.dark-mode .categories{
  background-color: rgb(123, 121.5, 119);
}

.categories{
  background:var(--beige);
  padding:300px 10%;
  text-align:center;
  transition: background-color .4s ease;
  background-color: beige;
}

.buscador{
    width: 500px;
    height: 50px;
    font-size: 20px;
    font-family: sans-serif;
}

button.buscador{
    width: 80px;
    font-size: 20px;
}

.categories h2{
  font-size:2.6rem;
  transition: color .4s ease;
}

.dark-mode .categories h2{
  color: white;
}

.categories h3{
  transition: color .4s ease;
}

.dark-mode .categories h3{
  color: white;
}

.cat-grid{
  margin-top:70px;
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:54px;
  border-radius: 10px;
    background:
    linear-gradient(90deg,
      rgba(95,122,103,.475),
      rgba(95,122,103,.375));
      padding: 20px
}

.cat-item{
  cursor:pointer;
}

.cat-item img{
  width:135px;
  transition: transform .45s cubic-bezier(.2,.9,.2,1);
  filter:drop-shadow(0 10px 20px rgba(0,0,0,.18));
}

.cat-item:hover img{
  transform:scale(1.28) rotate(-4deg);
}

.cat-item h3{
  margin-top:18px;
}

.carta{
    padding: 000px;
    background-color: beige;
}